.dropdown {
    position: absolute;
    transition: all .15s linear;
    flex-direction: column;
    z-index: 999;
    opacity: 0;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    background-color: white;
    overflow: hidden;
    margin-top: .4rem;
    border-radius: .3rem;

    &.open{
        opacity: 1;
    }

    .dropdown-content {
        padding: .4rem;
    }

}