.cm-s-default {
  .cm-header,
  .cm-url,
  .cm-link {
    color: #1890ff;
  }
  .cm-link {
    text-decoration: none;
  }
  .cm-url {
    text-decoration: underline;
  }
  // 选中代码的高亮背景色
  .CodeMirror-selected {
    background: mix(#e8f2ff, #000, 90%);
  }

  .cm-property {
    color: #2400c2;
  }
  .cm-variable {
    color: #1890ff;
  }
  .cm-comment {
    color: gray;
  }
}
