.toolbar-wrapper {
  display: flex;
  width: 100%;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.toolbar-item-wrapper {
  position: relative;
}

.toolbar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.2rem;
  border-radius: 0.3rem;
  transition: all 0.15s ease-in-out;
  margin: 0 0.2rem;

  + .tooltip {
    position: absolute;
    color: var(--gm-bg-color);
    padding: 0.2rem;
    background-color: var(--gm-color-trans);
    border-radius: 0.2em;
    display: inline-block;
    text-align: center;
    user-select: none;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    max-width: 15em;
    min-width: 3em;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 999;
    opacity: 0;
  }

  &:hover {
    background-color: var(--gm-color-hover);

    + .tooltip {
      visibility: visible;
      opacity: 1;
    }
  }

  &.active {
    background-color: var(--gm-color-hover);
  }

  &.disable {
    pointer-events: none;
    opacity: 0.8;
  }
}

.vr {
  display: inline-block;
  align-self: stretch;
  width: 1px;
  min-height: 1em;
  background-color: currentcolor;
  opacity: 0.25;
  margin: 0 0.3rem;
}
